<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Microconomy</h1>
        <div class="d-grid gap-2">
            <form action="/community" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description">
                    <div id="description-text" class="form-text">Tell us about your community...</div>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>